<h1>Empresas</h1>


<%if @empresas.any?%>
    <div class="grid">
        <% @empresas.each do |empresa| %>
            <div class="card">
                <p><strong>Nome:</strong> <%=empresa["fantasy_name"]%></p>
                <p><strong>Cnpj:</strong> <%=empresa["cnpj"]%></p>
                <p><strong>Código no domínio:</strong> <%=empresa["dominio_code"]%></p>

                <%= form_with url: integrar_path, method: :post do %>
                    <%= hidden_field_tag :cnpj, empresa["cnpj"]  %>
                    <%= hidden_field_tag :note, empresa["Integrado em forma de testes, por meio dessa interface!"]%>
                    <%= submit_tag "Integrar" %>

                <% end %>
            </div>
        <% end %>
    </div>
<%else%>
    <p>Nenhuma empresa encontrada!</p>
<%end%>
